<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Ashok Raj</h2>
            <h4>ashok@hcl.com</h4>
        </div>
        <mat-icon>account_circle</mat-icon>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
        <mat-icon>trending_down</mat-icon>
        Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/data">
        <mat-icon>cloud_download</mat-icon>
        Data</a>
    
    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>